
@model EstilistaWeb.Models.Entidades.Pelicula 


<div class="text-center">
    <h1 class="display-4">Esta es la vista de las peliculas</h1>
    <h2>Nombre de la pelicula: @Model.Nombre </h2>
    <h2>Duración de la pelicula: @Model.Duracion </h2>
    <h2>País de la pelicula: @Model.Pais </h2>
</div>